*{
    margin:0%;
    padding:0%;
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    font-size:50px;
    margin-top: 2%;
}
h2{
    text-align: center;
    color: white;
    font-size:50px;
    margin-top:-1%;
}
.hauntedd1{
    margin-left: 9%;
    margin-top:-4%;
}
.hauntedd1 img{
    width: 500px;
    height: 150px;
    margin-top:4%;
}
.h1{
    margin-left: 9%;
    width: 350px;
}
h4{
    margin-left: 18.5%;
    color: white;
    font-size:30px;
}
.h2{
    margin-left: 55%;
    margin-top:-13%;
    color: white;
}
.h2 img{
    width: 500px;
    height: 150px;
    margin-top: -7%;
}
.h5{
color: white;
font-size:35px;
margin-left: 25%;
}
.h6{
    color: white;
    font-size:45px;
    margin-left: 11%; 
}
.h3{
    margin-left: 9%;
}
.h3 img {width: 500px;
    height: 150px;
    margin-top: 1%;
}
.h4{
    margin-left: 55%;
    margin-top:-16.4%;
}
.h4 img{
    width: 500px;
    height: 150px;
}
h7{
     color: white;
    font-size:30px;
    margin-left: 25%;
}