*{
    margin:0%;
    padding:0%;
}

.side{
    text-align: right;
    font-size:18px;
    color:aliceblue;
}
ul ol{
    display: inline-block;
    margin: 20px;
    list-style: none;
     cursor: pointer;
    color:aliceblue;
}

.navigation{
    background:black;
    color:#fff;
    padding: 15px;
    font-family: sans-serif;
}

.navigation img{
    height: 90px;
    float: left;
    margin-right: 20px;
margin-top:-1%;
    width: 150px;
}

span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

@media only screen and ( max-width:700px){
    span{
        display: block;
    }
    ul ol{
    display: block;
    }
}
h1{
    font-size: 20px;
    margin-top: -40px;
    color: white;
}
h2{
    margin-top: -70px;
    color: white;
    font-style: italic;
}
.onduu img{
    height: 230px;
    padding-top: 5%;
    margin-left: -10%;
 border-bottom:outset;
}
button{
    padding:20px;
    border-radius: 30px;
    font-size:20px;
    margin-left: 10.5%;
    margin-top:2%;
    background-color: black;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
.mshows img{
    height: 230px;
    margin-top:-24.3%;
    margin-left: 35%;
 border-bottom:outset;
}
.mss2{
    margin-left:35%;
    margin-top:-6.3%;
}